body {
    height : 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div-btn{
    display : flex;
    flex-direction: column;
}


#container {
    display : flex;
    flex-direction: column;
    width : 700px;
    height: 700px;
    border: 1px solid;
}


.row {
    display : flex;
    flex:1;
}

.box{
    flex:1;
    border: 1px solid rgba(128, 128, 128, 0.347);
}

#clearbtn {
    display : flex;
    flex-direction: column;
    margin: 30px;
    
}

.btn {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

